.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  line-height: 200px;
  float: center;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.red {
  background-color: #e74c3c;
}